zone "{{ domain }}" IN {
    type master;
    file "/etc/bind/{{ domain }}.zone";
};

zone "{{ network.split('/')[0].split('.')[:3] | reverse | join('.') }}.in-addr.arpa" IN {
    type master;
    file "/etc/bind/{{ domain }}.rr.zone";
};
